.navbar-container{
    display: grid;
    background-color: #2C3E50;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
}
.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}
.navbar-brand{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#logout{
    grid-column: 5;
    color: white;
}
